# This workflow will install Python dependencies and the package with different Python versions and OS

name: Build

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - "*.md"
  pull_request:
    branches: [ "master" ]
    paths-ignore:
      - "*.md"

jobs:
  build_py307:
      strategy:
        fail-fast: false
        matrix:
          python-version: ["3.7"]
          os:
            - ubuntu-22.04
            - macOS-13
            - windows-latest
      runs-on: ${{ matrix.os }}
      steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        shell: bash
        run: |
          mv -f pyproject_legacy.toml pyproject.toml
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Install package
        run: |
          pip install .

  build_py308:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8"]
        os:
          - ubuntu-latest
          - macOS-13
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      shell: bash
      run: |
        mv -f pyproject_legacy.toml pyproject.toml
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Install package
      run: |
        pip install .

  build_py309_py310:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10"]
        os:
          - ubuntu-latest
          - macOS-13
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Install package
      run: |
        pip install .

  build_newer_than_py311:
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Install package
      run: |
        pip install .
